body{
margin: 0 auto;
}
.Footer{
position: absolute;
width: 75%;
height: 15%;
left: 12.30%;
bottom: -50%;
background-color: black;
border-top: 2px solid white;
}
footer{
position: absolute;
width: 100%;
height: 100%;
}
.what-we-stands-for{
width: 10%;
height: 100%;
left: 3%;
position: absolute;
}
.rightsreserved{
width: auto;
height: auto;
left: 3%;
position:absolute;
bottom: 0%;
font-size: 10px;
}
.visit{
width: auto;
height: auto;
top: 3%;
left: 20%;
position: absolute;
}
.visit h2{
font-size: 15px;
}
.Legal{
width: auto;
height: auto;
top: 3%;
left: 50%;
position: absolute;
}
.Legal h2{
font-size: 15px;
}
.contact{
  width: auto;
  height: auto;
  top: 3%;
  right: 20%;
  position: absolute;
}
.contact h2{
font-size: 15px;
}
