body{
background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/ob4Z6Pm/ufo-in-outer-space-4k-mov_vkl4es_rs__F0000.png);
background-size: cover;
z-index: -100;
}
.Backgroundbox{
width: 99%;
height: 99%;
color: white;
opacity: 0.25;
background-color: black;
position: absolute;
}
.Header{
color: white; 
}
