body{
background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/ob4Z6Pm/ufo-in-outer-space-4k-mov_vkl4es_rs__F0000.png);
background-size: cover;
}
.Background-box{
width: 100%;
height: 100%;
background-color: ;
position: fixed;
}
